/* Global Styles */

:root {
  --background-color: rgb(39, 3, 86);
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.h1home {
  color: orange;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: rgb(39, 3, 86);
  background-color: white;
  box-shadow: 0 2px 4px rgba(61, 47, 47, 0.1);
  padding: 0.5rem 1rem;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-buttons button,
.dropbtn {
  margin-left: 0.5rem; /* Reduced margin between buttons */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  color: black;
}

.navbar-buttons button:hover,
.dropbtn:hover {
  background-color: lightgrey;
}

/* Main Content Padding */
.main-content {
  padding-top: 70px;
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Change the flex direction to column for mobile */
    align-items: center; /* Center-align the content vertically */
  }

  .navbar-brand {
    font-size: 1rem;
    margin-bottom: 0; /* Add some spacing below the text */
  }

  .navbar-buttons,
  .dropdown-content {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .navbar-buttons button,
  .dropbtn,
  .dropdown-content button {
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem;
    margin-left: 1px; /* Further reduced margin for mobile */
  }

  .dropdown-content {
    position: static;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }

  .city-image {
    /* Adjust the size of the Next.js Image component for mobile */
    height: 150px !important; /* Override the inline style with !important */
    width: 300px;
  }

  .para1home {
    margin-right: 20px;
  }

  .navbar-buttons {
    margin-top: 10px; /* Add spacing above the buttons for mobile */
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 50px 0;
}

.header {
  background-color: orange;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  margin-top: 55px;
}

.search-bar {
  width: 80%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 80%;
}

.category-card {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.category-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: orange;
}

.category-description {
  font-size: 14px;
  color: #777;
}

.homepage {
  height: 500px;
}

.homepage-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}

.text-container {
  /* Adjust the width as needed */
  width: 60%;
  margin-left: 20px;
}

.city-image {
  /* Adjust the width as needed */
  width: 40%;
  margin-right: 20px;
}

.benefits-container {
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: center; /* Center the content horizontally */
  gap: 20px;
  height: 500px; /* Adjust the gap between the elements as needed */
}

.benefits-layout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px; /* Adjust padding as necessary */
}

.phone-container {
  flex: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(2, 1fr); /* Two rows */
  gap: 20px; /* Space between grid items */
  flex: 1;
}

.grid-item {
  background: transparent; /* Change as per your design */
  padding: 20px; /* Optional, for styled corners */
  font-size: 12px; /* Optional, for subtle shadow */
  /* Add more styling as per your design */
}

.phone-image {
  width: 350px; /* This will make the image responsive within its container */
  height: 450px;
  object-fit: contain;
  margin-left: 80px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .benefits-layout {
    flex-direction: column; /* Stack image and grid items vertically on mobile */
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .phone-container {
    width: 100%; /* Full width on mobile */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px; /* Space between image and text */
  }

  .phone-image {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Adjust object-fit as needed */
    margin-right: 30px;
  }

  .grid-container {
    width: 100%; /* Full width on mobile */
    grid-template-columns: 1fr; /* Single column layout on mobile */
    grid-template-rows: auto auto auto auto; /* Rows height set to auto */
    gap: 10px; /* Adjust the gap as needed */
  }

  .grid-item {
    text-align: center; /* Center text for smaller screens */
    /* Adjust grid-item styles for mobile as needed */
  }
}

.footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px 0;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr; /* Sets the layout to a single column */
  grid-gap: 20px;
  margin-left: 15px; /* Adds space between sections */
}

.footer-section {
  margin: 10px 0;
}

.footer-section ul {
  list-style-type: none; /* Remove bullet points */
  padding-left: 0; /* Reset padding to align with the edge of the container */
}

.footer-section ul li {
  padding: 5px 0; /* Add padding for each list item if needed */
}

.footer-section p,
.footer-section ul {
  line-height: 1.5;
}

.footer-section ul li a {
  color: #bbbbbb;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #ffffff;
}

.footer-section.links ul li {
  display: inline; /* Display list items inline */
  margin-right: 10px; /* Add some space between the links */
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #bbbbbb;
  font-size: 24px;
}

.social-links a:hover {
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  padding: 2px 0;
}

@media (max-width: 768px) {
  .footer-content {
    justify-content: center;
  }

  .footer-section {
    text-align: center;
    margin: 20px;
  }

  .social-links {
    justify-content: center;
  }
}

.faq-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.h1faq {
  text-align: center;
  margin-bottom: 40px;
  color: orange;
}

.faq-list {
  margin: 0;
  padding: 0;
}

.faq-item {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ffffff;
}

.faq-question {
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.faq-answer {
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
}

details[open] .faq-question::after {
  content: '−';
}

details:not([open]) .faq-question::after {
  content: '+';
}

/* Add custom styles to position the '+' and '−' icons */
.faq-question::after {
  float: right;
  margin-right: 5px;
}

/* Login.css */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: orange;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button[type='submit']:hover {
  background-color: grey;
}

/* SignUp.css */
.signup-form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form-container h1 {
  text-align: center;
  color: #333;
}

.signup-form-group {
  margin-bottom: 15px;
}

.signup-form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.signup-form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5c6bc0;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.signup-submit-button:hover {
  background-color: #3f51b5;
}

.collectmoments {
  color: orange;
}
